.env
node_modules
pentest_output
.venv
.DS_Store
.vscode
.idea
.pytest_cache
.ruff_cache
.env.local
.env.development.local
.env.test.local
.env.production.local
venv
.bat
.sh
.claude
.cursor
.pnpm-store
.env.docker